/* 폰트 */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

.lora {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 500;
}

/* 노말라이즈 */
body, ul, li, span, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  font-family: 'Pretendard';
  overflow-x: hidden;
}

/* .sec-3 시작 */
.sec-3 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-3 > .img-box {
  width: 1920px;
}

.sec-3 > .img-box > img {
  display: block;
  width: 100%
}

.sec-3 > .con {
  width: 1760px;
  margin: 0 auto;
}

.sec-3 > .con > .top-box {
  position: absolute;
  top: 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 188px;
}

.sec-3 > .con > .top-box > .img {
  width: 880px;
}

.sec-3 > .con > .top-box > .img > img {
  display: block;
  width: 100%;
}

.sec-3 > .con > .top-box > .info-box > .sub {
  font-size: 16px;
  font-weight: 500;
  color: #E75A3C;
  margin-bottom: 14px;
}

.sec-3 > .con > .top-box > .info-box > .tit {
  font-size: 38px;
  font-weight: 500;
  color: #252525;
  margin-bottom: 48px;
}

.sec-3 > .con > .top-box > .info-box > .info {
  line-height: 1.8;
  color: #888888;
}

.sec-3 > .con > .logo-img {
  position: absolute;
  top: 800px;
  left: 995px;
  width: 813px;
}

.sec-3 > .con > .logo-img > img {
  display: block;
  width: 100%;
}

.sec-3 > .con > .bottom-box {
  position: absolute;
  top: 932px;
  left: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 246px;
}

.sec-3 > .con > .bottom-box > .img {
  width: 880px;
}

.sec-3 > .con > .bottom-box > .img > img {
  display: block;
  width: 100%;
}

.sec-3 > .con > .bottom-box > .info-box > .sub {
  font-size: 16px;
  font-weight: 500;
  color: #E75A3C;
  margin-bottom: 14px;
}

.sec-3 > .con > .bottom-box > .info-box > .tit {
  font-size: 38px;
  font-weight: 500;
  color: #252525;
  margin-bottom: 48px;
}

.sec-3 > .con > .bottom-box > .info-box > .info {
  line-height: 1.8;
  color: #888888;
}



/* .sec-5 시작 */
.sec-5 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-5 > .img-box {
  width: 1920px;
}

.sec-5 > .img-box > img {
  display: block;
  width: 100%
}

.sec-5 > .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #F9F7F4;
}

.sec-5 > .text-box > .title {
  font-family: "Lora", serif;
  font-size: 44px;
  font-weight: 500;
}

.sec-5 > .text-box > .sub {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}

.sec-5 > .text-box > a {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}

.sec-5 > .text-box > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1.8px;
  background-color: #F9F7F4;
  transition: width .3s;
}

.sec-5 > .text-box > a:hover::after {
  width: 100%;
}


/* .sec-6 시작 */
.sec-6 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-6 > .img-box {
  width: 1920px;
}

.sec-6 > .img-box > img {
  display: block;
  width: 100%
}

.sec-6 > .info {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.sec-6 > .info > .title {
  font-size: 38px;
  font-weight: 500;
  color: #493E3C;
  margin-bottom: 12px;
}

.sec-6 > .info > .sub {
  font-size: 16px;
  font-family: 400;
  color: #888888;
}

.sec-6 > .con {
  width: 1760px;
  margin: 0 auto;
}

.sec-6 > .con > .img-box {
  position: absolute;
  display: flex;
  gap: 20px;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.sec-6 > .con > .img-box > .img {
  position: relative;
  white-space: nowrap;
}

.sec-6 > .con > .img-box > .img > a > img {
  display: block;
  width: 573px;
  transition: filter .3s;
}

.sec-6 > .con > .img-box > .img:hover > a > img {
  filter: brightness(36%);
}

.sec-6 > .con > .img-box > .img > .img-info {
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  color: #F5F4E9;
  opacity: 0; 
  transition: opacity 0.3s;
}

.sec-6 > .con > .img-box > .img:hover > .img-info {
  opacity: 1;
}

.sec-6 > .con > .img-box > .img > .img-info .sub {
  font-size: 16px;
  font-weight: 400;
  color: #F5F4E9;
  margin-top: 12px;
}

/* .sec-8 시작 */
.sec-8 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-8 > .img-box {
  width: 1920px;
}

.sec-8 > .img-box > img {
  display: block;
  width: 100%
}

.sec-8 > .text-box {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

}

.sec-8 > .text-box > .tit {
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #555555;
  margin-bottom: 12px;
}

.sec-8 > .text-box > .sub {
  font-family: 'Suit';
  font-size: 16px;
  font-weight: 500;
  color: #555555;
}

/* .sec-9 시작 */
.sec-9 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-9 > .img-box {
  width: 1920px;
}

.sec-9 > .img-box > img {
  display: block;
  width: 100%
}

.sec-9 > .info {
  position: absolute;
  top: 80px;
  left: 80px;
}

.sec-9 > .info > .logo {
  width: 200px;
  margin-bottom: 60px;
}

.sec-9 > .info > .logo > img {
  display: block;
  width: 100%;
}

.sec-9 > .info > .text-box > a > .tit {
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  margin-bottom: 20px;
}

.sec-9 > .info > .text-box > .sub {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 48px;
}

.sec-9 > .info > .text-box > .sub > .sub-1,
.sec-9 > .info > .text-box > .sub > .sub-2 {
  display: inline-block;
  margin-bottom: 6px;
}

.sec-9 > .info > .text-box > .copy {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-family: 400;
  color: #555555;
}